/*Global Style*/
body {
    padding: 10px;
}

#back-arrow {
    cursor: pointer;
}

#back-arrow:hover {
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .7));
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .7));
}

.form-check-input {
    cursor: pointer;
}

ul>li {
    list-style: none;
}

/*Cart Style*/
.container-cart {
    display: grid;
    grid-template-columns: 40% 0.5% auto;
}

.container-cart>.container-item {
    display: grid;
    grid-column: 1/2;
    padding: 10px;
    grid-template-rows: auto auto;
    row-gap: 10px;
}


.container-cart>.container-item>.container-setting {
    display: grid;
    grid-template-columns: 70% auto;
}

.container-cart>.container-item>.container-shops {
    padding: 10px;
}

.container-cart>.container-item>.container-setting>.container-title {
    grid-column: 1/3;
    overflow: hidden;
}

.container-cart>.container-item>.container-setting>.container-sort {
    background-color: rgb(255, 0, 200);
    display: grid;
    grid-template-columns: 30% 60% 10%;
}

.container-cart>.container-item>.container-shops>.shop {
    background-color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
}

.container-cart>.container-item>.container-shops>.shop>.items>.item {
    display: grid;
    grid-template-columns: 5% 15% auto auto;
    grid-template-rows: 30% 30% 30%;
    padding: 10px;
}

.container-cart>.container-item>.container-shops>.shop>.items>.item>.item-title {
    grid-column: 3/4;
}
.container-cart>.container-item>.container-shops>.shop>.items>.item>.item-quantity
{
    grid-row: 3/4;
    grid-column:3/4;
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-column-gap: 5px;
    max-width: 20%;
}

.container-cart>.container-item>.container-shops>.shop>.items>.item>.item-quantity > .item-quantity-minus
{
    cursor: pointer;
}
.container-cart>.container-item>.container-shops>.shop>.items>.item>.item-quantity > .item-quantity-minus :hover
{
    fill: red;
}
.container-cart>.container-item>.container-shops>.shop>.items>.item>.item-quantity > .item-quantity-plus
{
    cursor: pointer;
}
.container-cart>.container-item>.container-shops>.shop>.items>.item>.item-quantity > .item-quantity-plus :hover
{
    fill: darkcyan;
}
.container-cart>.container-item>.container-shops>.shop>.items>.item>.item-quantity > .item-quantity-value > input
{
    width: 100%;
    text-align: center;
    border-style: none;
    border-bottom: black solid 1px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.container-cart>.container-item>.container-shops>.shop>.items>.item>.item-delete {
    margin-left: auto;
    margin-right: 0;
    align-items: center;
    grid-row: 2/3;
}

.container-cart>.container-item>.container-shops>.shop>.items>.item>.item-delete > svg:hover
{
    box-shadow: 1px 1px;
}

.container-cart>.container-item>.container-shops>.shop>.items>.item>.item-price {
    grid-row: 2/3;
    grid-column: 3/4;
}

.container-cart>.container-item>.container-shops>.shop>.items>.item>.item-image {
    grid-row: 1/4;
    grid-column: 2/3;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.container-cart>.container-item>.container-shops>.shop>.items>.item>.item-image img {
    background-color: rgb(255, 194, 194);
    width: 75%;
    height: auto;

}

.container-cart>.container-item>.container-shops>.shop>.items>.item>.class-check-box {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}


/*Checkout Detail Style*/
.container-cart>.container-item-checkout {
    background-color: #f3f3f3;
    grid-column: 3/4;
    padding: 50px;
}

.container-cart>.container-item-checkout>.container-item-checkout-detail {
    position: fixed;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px
}

.container-cart>.vertical-line{
    grid-column: 2/3;
    background-color: rgb(189, 189, 189);
    height: 100%px;
    width: 1px;
}